*{
     margin: 0px;
     padding: 0pt;
     list-style: none;
     text-decoration: none;
     font-family: serif;
}
.avatar{
     position: absolute;
     width: 50px;
     height: 50px;
     border-radius: 40%;
     overflow: hidden;
     transform: translateY(-31%);
     border: 1px solid yellow;
     cursor: pointer;
}
img{
     width: 100%;
}
nav{
     box-shadow: 3px 3px 3px 3px rgb(218, 208, 126);
     padding: 25px;
     border: 1px solid yellow;
     border-radius: 10px;
     margin: 2% 5%;
     background-color: white;
}
nav ul {
     display: flex;
     flex-direction: column;
     position: absolute;
     transform: translateY(-70%);
     background-position: center;
     padding:10px 5px ;
     opacity: 0;
     z-index: 2;
     border-radius: 10px;
     border: 1px solid yellow ;
     box-shadow: 1px 1px 1px 1px rgb(218, 208, 126);
     background-color: white;
}
nav ul li {
     padding: 10px;
     padding-right: 25px;
     border-radius: 50%;
     border-bottom: 2px solid yellow;
     border-top: 2px solid yellow;
}

nav ul li:hover{
     background-color:yellow;
}
ul li a{
     padding-left: 25px;
     color: rgb(14, 14, 10);
}

.menu-toggle h4{
     transform: translateX(5%);
}
.menu-toggle input{
     position: absolute;
     z-index: 4;
     width: 200px;
     height: 200px;
     transform: translateY(-78%);
     opacity: 0;
}
.menu-toggle input:checked ~ img{
     border: 1px solid yellow ;
}
.menu-toggle input:checked ~ h4{
     color:rgb(8, 8, 8);
}
nav ul.slide{
     transform: translateY(31%);
     opacity: 1;
     transition: 1s;
}
main{
     display: grid;
     justify-items: center;
     background-color: white;
}
.mypost{
     width: 50%;
     box-shadow: 3px 3px 3px 3px rgb(218, 208, 126);;
     padding: 50px;
     border: 1px solid yellow;
     border-radius: 10px;
     margin: 2% 5%;
     background-color: white;
}
.mypost h4{
     transform: translateX(9%);
}
textarea:focus{
     outline: none;
}

.mypost textarea{
     border-color:yellow;
     resize: none;
     border-radius: 10px;
     width: 96%;
     padding: 10px;
     transform: translateY(20%);
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: medium;
     background-color: white;
}
.mypost button{
     width: 90px;
     height: 50px;
     transform: translateY(70%);
     font-size: 20px;
     font-weight: bold;
     border-radius: 10px;
     cursor: pointer;
     border-color: yellow;
     box-shadow: 1px 1px 1px 1px rgb(218, 208, 126);
     background-color: rgb(245, 245, 198);
}
.mypost .update{
     font-size: 15px;
     font-weight: bold;
}
.mypost .hapus{
     font-size: 15px;
     font-weight: bold;
     background-color: red;
}
.menu{
     position: absolute;
     display:inline;
     margin-left: 620px;
}
.navbar{
     position: absolute;
     margin:0 0 0px 48%;
     width: 50px;
     background-color: white;
}
.navbar ul{
     background-color: white;
     align-items: center;
     position: absolute;
     margin-left: -60%;
     margin-bottom:100%;
     margin-top:-50%;
     border: 1px solid yellow;
     border-radius: 10px;
     cursor: pointer;
     opacity: 1;
}
.navbar ul li:hover{
     background-color: yellow;
     border-radius:5px 5px ;
}
.navbar ul li:first-child :hover{
     color: teal;
}
.navbar ul li:last-child :hover{
     color: rgb(190, 25, 3);
}
.menu-post a{
     position: absolute;
     font-size: 1.5em;
     margin-left: 20px;
     transform: translateY(-20px);
}
.navbar ul li:first-child a{
     padding: 10px 22px 10px 10px;
}
.navbar ul li:last-child a{
     padding: 10px 11px 10px 10px;
}

.viewpost{
     display: flex;
     flex-direction:column ;
     user-select: none;
     width: 50%;
     box-shadow: 3px 3px 3px 3px rgb(218, 208, 126);
     padding: 25px;
     border: 1px solid yellow;
     border-radius: 10px;
     margin: 2% 5%;
     background-color: white;
}
.viewpost textarea{
     font-size: large;
     margin-top: 30px;
     resize: none;
     border-radius: 10px;
     width: 90%;
     height: 100px;
     border: 1px solid yellow;
     padding:10px;
     text-overflow: clip;
     background-color: white;
}
.viewpost input{
     text-align: center;
     width: 10%;
     position: absolute;
     margin-left:50px;
     margin-top: 20px;
     border: 0rem;
}
.mypost input{
     position: absolute;
     margin-left:60px;
     border: 0rem;
     z-index: 2;
}
::-webkit-scrollbar {
     width: 15px;
}
::-webkit-scrollbar-thumb {
     background-color: yellow;
     border-radius: 25px;
     max-height: 20px;
}
::-webkit-scrollbar-track {
     background-color:white;
     border-radius: 25px;
     border: 1px solid yellow;
}
.viewpost::-webkit-scrollbar {
     width: 15px;
}
.viewpost::-webkit-scrollbar-thumb {
     background-color: yellow;
     border-radius: 25px;
     max-height: 20px;
}
.viewpost::-webkit-scrollbar-track {
     background-color:white;
     border-radius: 25px;
     border: 1px solid yellow;
}

.viewpost h4{
     transform: translateX(9%);
}
@media screen and (max-width: 885px) {
     nav ul{
          background-color: whitesmoke;
     }
     .menu-toggle h4{
     transform: translateX(9%);
     }
     .viewpost h4{
     transform: translateX(13%);
     }
     .mypost h4{
     transform: translateX(12%);
     }
     .mypost{
          width: 65%;
     }
     .post{
          width: 60%;
     }
     .post .navbar {
     margin-left: 58%;
     }
     .navbar ul{
          margin-left:-75%;
          margin-top:-50%;
     }
}
@media screen and (max-width:500px){
     .menu-toggle h4{
     transform: translateX(14%);
     }
     .viewpost h4{
     transform: translateX(23%);
     }
     .mypost h4{
     transform: translateX(17%);
     }
     .post .navbar {
     margin-left: 58%;
     }
     .navbar ul{
     margin-left:-95%;
     margin-top: -50%;
     }
}
@media screen and (max-width: 415px) {

     .menu-toggle h4{
     transform: translateX(20%);
     }
     .viewpost h4{
     transform: translateX(20%);
     }
     .mypost h4{
     transform: translateX(20%);
     }
     .mypost{
          width: 80%;
     }
     .post{
          width: 75%;
     }
     .post .navbar {
     margin-left: 70%;
     }
     .navbar ul{
     margin-left:-70%;
     margin-top: -50%;
     }

}
@media screen and (max-width: 375px) {

.navbar ul{
     margin-left:-75%;
     margin-top: -50%;
     }

}
@media screen and (max-width: 320px) {

.navbar ul{
     margin-left:-80%;
     }

}
