*{
     margin: 0px;
     padding: 0pt;
     list-style: none;
     text-decoration: none;
}
.avatar{
     position: absolute;
     width: 50px;
     height: 50px;
     border-radius: 40%;
     overflow: hidden;
     transform: translateY(-31%);
     border: 1px solid yellow;
     cursor: pointer;
}
img{
     width: 100%;
}
nav{
     box-shadow: 2px 2px 2px 2px rgb(218, 208, 126);
     padding: 25px;
     border: 1px solid rgb(240, 217, 17);
     border-radius: 10px;
     margin: 2% 5%;
}
nav ul {
     display: flex;
     flex-direction: column;
     position: absolute;
     transform: translateY(-70%);
     background-position: center;
     padding:10px 5px ;
     opacity: 0;
     z-index: 2;
     border-radius: 10px;
     border: 1px solid rgb(252, 252, 106) ;
     box-shadow: 1px 1px 1px 1px rgb(218, 208, 126);
}
nav ul li {
     padding: 10px;
     padding-right: 25px;
     border-radius: 50%;
     border-bottom: 2px solid yellow;
     border-top: 2px solid yellow;
}

nav ul li:hover{
     background-color:yellow;
}
ul li a{
     padding-left: 25px;
     color: rgb(14, 14, 10);
}
.menu-toggle h4{
     transform: translateX(5%);
}
.menu-toggle input{
     position: absolute;
     z-index: 4;
     width: 200px;
     height: 200px;
     transform: translateY(-78%);
     opacity: 0;
}
.menu-toggle input:checked ~ img{
     border: 1px solid yellow ;
}
.menu-toggle input:checked ~ h4{
     color:rgb(8, 8, 8);
}
nav ul.slide{
      transform: translateY(31%);
      opacity: 1;
      transition: 1s;
}
main{
     display: grid;
     justify-items: center;
}
.mypost{
     width: 50%;
     box-shadow: 1px 1px 1px 1px rgb(218, 208, 126);
     padding: 50px;
     border: 1px solid rgb(240, 217, 17);
     border-radius: 10px;
     margin: 2% 5%;
}
.mypost h4{
     transform: translateX(9%);
}
.mypost form ul li ul li:first-child{
     position: absolute;
     margin-top:11%;
     margin-left:10px;
}
.mypost form ul li ul li input{
     width: 90px;
     background-color:blue;
     border-radius:5px;
     padding:15px 0px;
     position:absolute;
     z-index:3;
}
.mypost form ul li ul li .fa-image{
     background-color: blueviolet;
     position:absolute;
     font-size:3em;
}
.mypost textarea{
     border-color:yellow;
     resize: none;
     border-radius: 10px;
     width: 96%;
     padding: 10px;
     transform: translateY(20%);
}
.mypost button{
     width: 90px;
     height: 50px;
     transform: translateY(80%);
     font-size: 20px;
     font-weight: bold;
     border-radius: 10px;
     cursor: pointer;
     border-color: yellow;
     box-shadow: 1px 1px 1px 1px rgb(218, 208, 126);
     background-color: rgb(245, 245, 198);
}
.post{
     display: flex;
     flex-direction:column ;
     user-select: none;
     width: 50%;
     box-shadow: 2px 2px 2px 2px rgb(218, 208, 126);
     padding: 25px;
     border: 1px solid rgb(240, 217, 17);
     border-radius: 10px;
     margin: 2% 5%;
}
.post h4{
     transform: translateX(9%);
}
.post textarea{
     margin-top: 20px;
     resize: none;
     border-radius: 10px;
     width: 100%;
     border: none;
}
.menu{
     position: absolute;
     display:inline;
     margin-left: 620px;
}
.navbar{
     position: absolute;
     margin:0 0 0px 48%;
     width: 50px;
}
.navbar ul{
     background-color: whitesmoke;
     align-items: center;
     position: absolute;
     margin-left: 100%;
     margin-bottom:100%;
     margin-top:-230%;
     border: 1px solid yellow;
     padding: 20%;
     border-radius: 10px;
     cursor: pointer;
     opacity: 0;
}
.navbar ul li{
     border: 1px solid yellow;
     border-radius: 5px;   
}
.navbar ul li:hover{
     background-color: yellow;
}
.navbar ul li:first-child :hover{
     color: teal;
}
.navbar ul li:last-child :hover{
     color: rgb(190, 25, 3);
}
.menu-post a{
     position: absolute;
     font-size: 1.5em;
     margin-left: 20px;
     transform: translateY(-20px);
}
.menu-post input{
     opacity: 0;
     position: absolute;
     width: 50px;
     height: 50px;
     transform: translateY(-45%);
     z-index: 2;
}
.menu-post input:checked ~ a:last-child{
     color: yellow;
}
.navbar ul li:first-child a{
     padding: 10px 22px 10px 10px;
}
.navbar ul li:last-child a{
     padding: 10px 11px 10px 10px;
}
.navbar ul.slide{
     opacity: 1;
}
.viewpost{
     display: flex;
     flex-direction:column ;
     user-select: none;
     width: 50%;
     box-shadow: 2px 2px 2px 2px rgb(218, 208, 126);
     padding: 25px;
     border: 1px solid rgb(240, 217, 17);
     border-radius: 10px;
     margin: 2% 5%;
}
.viewpost textarea{
     margin-top: 20px;
     resize: none;
     border-radius: 10px;
     width: 100%;
     height: 1000px;
     border: none;
}
.viewpost h4{
     transform: translateX(9%);
}
@media screen and (max-width: 885px) {
     nav ul{
          background-color: whitesmoke;
     }
     .menu-toggle h4{
     transform: translateX(9%);
     }
     .post h4{
     transform: translateX(13%);
     }
     .viewpost h4{
     transform: translateX(13%);
     }
     .mypost h4{
     transform: translateX(12%);
     }
     .mypost{
          width: 65%;
     }
     .post{
          width: 60%;
     }
     .post .navbar {
     margin-left: 58%;
     }
     .navbar ul{
          margin-top:-250%;
     }
}
@media screen and (max-width:500px){
      .menu-toggle h4{
     transform: translateX(14%);
     }
      .post h4{
     transform: translateX(18%);
     }
     .viewpost h4{
     transform: translateX(23%);
     }
     .mypost h4{
     transform: translateX(17%);
     }
     .post .navbar {
     margin-left: 58%;
     }
     .navbar ul{
     margin-left:10%;
     margin-top: -250%;
     }
}
@media screen and (max-width: 415px) {

     .menu-toggle h4{
     transform: translateX(20%);
     }
     .post h4{
     transform: translateX(20%);
     }
     .viewpost h4{
     transform: translateX(20%);
     }
     .mypost h4{
     transform: translateX(20%);
     }
     .mypost{
          width: 80%;
     }
     .post{
          width: 75%;
     }
     .post .navbar {
     margin-left: 70%;
     }
      .navbar ul{
     margin-left:-70%;
     margin-top: -250%;
     }

}
